body{
  font-family: 'Montserrat-Black';
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid{
  padding: 3% 15% 7%;
}

h1{
  font-family: 'Montserrat-Black', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  font-size: 3rem;
  font-weight: 1.5;
}

h3{
  font-family: 'Montserrat-Bold';
  font-weight: bold;
}

h2{
  font-family: 'Montserrat-Bold';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

p{
  color: #8f8f8f;
}

/*navigation bar*/
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-weight: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Button */
.download-button{
  margin: 5% 3% 5% 0%;
}

/* Title Image */
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

  /* Testimonials */
  #testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
  }

  .testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }

  .carousel-item{
    padding: 7% 15%;
  }
  /* Press */
  #press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
  }

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

/* Call to Action */
#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}

.cta-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}


/* Footer */
#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title{
    text-align: center;
  }

  .title-img{
    position: static;
    transform: rotate(0);
  }
}
